# Compilation files of the application
build/
bin/
debug/

# Python
*.pyc[cod]
*.egg
__pycache__/
*.egg-info/
.eggs/
.python-version

# IDE
/.vscode
/.idea

# Tron Protogen
examples/proto
examples/protocol

# Temporary test snapshots
tests/snapshots-tmp
