pytest
grpcio==1.44.0
grpcio-tools==1.44.0
base58==1.0.3
crypto==1.4.1
cryptography==2.8
eth-keys==0.3.1
ledgerblue==0.1.45
ragger[speculos]>=1.7.1
ragger[ledgerwallet]>=1.7.1
ecdsa>=0.16.1,<0.17.0
pysha3>=1.0.0,<2.0.0
